{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Детализированный отчет за {{ app.request.get('month') }}</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>День</th>
                                {% for category in categories %}
                                    <th>{{ category.name }}</th>
                                {% endfor %}
                                <th>Итого</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day, categories in expensesDays %}
                                <tr>
                                    <td>{{ day }}</td>
                                    {% for name, sum in categories %}
                                        <td>{{ sum / 100 }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <td style="font-weight: bold">Итого</td>
                                {% for category in categoriesSums %}
                                    <td>{{ category / 100 }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                <div><a href="{{ path('summaryReport') }}">Выбрать месяц</a></div>
                <div><a href="{{ path('homepage') }}">Домашняя страница</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    }
</style>
{% endblock %}
