{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактирование категории</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Сохранить" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('expensescategory_index') }}">Список категорий</a>
        </li>
    </ul>
{% endblock %}
