{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список категорий</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for expensesCategory in expensesCategories %}
            <tr>
                <td><a href="{{ path('expensescategory_show', { 'id': expensesCategory.id }) }}">{{ expensesCategory.id }}</a></td>
                <td>{{ expensesCategory.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('expensescategory_show', { 'id': expensesCategory.id }) }}">Посмотреть</a>
                        </li>
                        <li>
                            <a href="{{ path('expensescategory_edit', { 'id': expensesCategory.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expensescategory_new') }}">Добавить категорию</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}">Домашняя страница</a>
        </li>
    </ul>
{% endblock %}
