{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавить категорию</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Создать" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('expensescategory_index') }}">Список категорий</a>
        </li>
    </ul>
{% endblock %}
