{% extends 'base.html.twig' %}

{% block body %}
    <h1>Категория расхода</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expensesCategory.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ expensesCategory.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expensescategory_edit', { 'id': expensesCategory.id }) }}">Редактировать</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('expensescategory_index') }}">Список категорий</a>
        </li>
    </ul>
{% endblock %}
